[Unit]
Description=Pacman mirrorlist update

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --country Germany -p https -l 200 --sort rate --save /etc/pacman.d/mirrorlist
